* {
  box-sizing: border-box;
}
html {
  background-image: url("../img/pexels-mike-van-schoonderwalt-5505122.jpg");
  background-position: 100vw 100vh;
  background-size: cover;
  font-size: 16px;
  font-family: "Press Start 2P", cursive;
}

/*--------- General Styles -----------*/

.page-top {
  margin-top: 40px;
}

h1 {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
}

footer p {
  font-size: 0.575em;
  margin: 25px;
}

footer a i {
  font-size: 3em;
  color: black;
}

footer a i {
  font-size: 3em;
  margin-right: 25px;
}

/*------ Leaderboard ----------*/

.leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wins,
.losses {
  text-align: center;
}

.ldb-display {
  width: 220px;
  margin: 10px;
  background: #080001;
  border-radius: 5px;
  font-size: 1.75em;
  line-height: 50px;
  text-align: center;
  color: white;
}

/*---------- Container and Grid ----------------*/

.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#grid-container {
  display: flex;
  width: auto;
  height: auto;
  background-color: gray;
}

.column {
  padding: 22px;
  border: 0.5px solid;
}
/*--------- Dice Box ----------*/

.dice-box {
  width: 250px;
  height: 200px;
  padding: 15px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}
.box {
  border: 1px solid black;
  padding: 5px;
}

#dice1,
#dice2 {
  display: block;
  font-size: 3em;
  margin-top: 1em;
}

/*--------- Buttons ----------*/

button {
  border: none;
  padding: 15px;
  color: white;
  width: 250px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1.125em;
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
}

.dice {
  background-color: green;
}

.end-game {
  background-color: #ff0000;
}

.clear-board {
  background-color: blue;
  padding: 15px;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.submit-btn {
  background-color: purple;
}

@media only screen and (min-width: 768px) {
  html {
    background-size: 100vw 100vh;
  }

  .page-top {
    margin-top: 40px;
  }

  h1 {
    text-align: center;
  }

  footer p {
    font-size: 0.825em;
  }

  footer a i {
    font-size: 3.5em;
    margin-left: 25px;
    margin-right: 25px;
  }
  /*--------- Dice Box ----------*/

  /*------ Leaderboard ----------*/

  .leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .player-1,
  .player-2 {
    text-align: center;
  }

  .ldb-display {
    width: 210px;
    margin: 10px;
    background: #080001;
    border-radius: 5px;
    font-size: 2em;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  /*---------- Container and Grid ----------------*/

  .container {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .column {
    padding: 25px;
  }
  /*--------- Buttons ----------*/

  button {
    border: none;
    padding: 15px;
    color: white;
    width: 250px;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P", cursive;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 9px 0;
    transform: translateY(-2px);
    cursor: pointer;
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    filter: brightness(80%);
  }

  .submit-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .submit-btn {
    background-color: purple;
  }
  button:disabled,
  button[disabled] {
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    filter: brightness(80%);
  }

  .dice {
    background-color: green;
  }

  .end-game {
    background-color: #ff0000;
  }
}

/*--------- Start Game and New Game Aler Modal Styles ----------- */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
}

.show-modal {
  visibility: visible;
}

.modal-content {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 2em;
  padding: 20px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 400px;
}

.player-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  height: 2.5em;
  text-indent: 10px;
}

.green-btn {
  background-color: green;
}

.red-btn {
  background-color: red;
}

#newGameAlertModal {
  background-color: rgba(0, 0, 0, 0.2);
}

#newGameAlertModal h1 {
  font-size: 1.4rem;
  line-height: 2.25rem;
}
/*---------End Game Modal----------*/

.end-game-message {
  font-size: 1.75rem;
}

.end-game-score {
  font-size: 1.25rem;
}

.end-game-modal {
  background-color: rgb(108, 156, 213, 0.85);
  width: 40%;
  min-width: 300px;
  text-align: center;
  aspect-ratio: 1/1;
  color: rgb(247, 244, 244);
}

.end-game-modal::backdrop {
  background-color: rgba(108, 156, 213, 0.6);
}

.end-game-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-game-message,
.end-game-score {
  text-shadow: 0 0 120px rgb(247, 244, 244);
}

.end-game-new-game-btn {
  background-color: green;
}

@media only screen and (max-width: 768px) {
  .end-game-message,
  .end-game-new-game-btn {
    font-size: 1.2rem;
  }
}
